body{
    background-image: url("https://previews.123rf.com/images/marinamandarina/marinamandarina1707/marinamandarina170700040/81390914-patr%C3%B3n-de-comida-r%C3%A1pida-puede-ser-utilizado-para-textil-fondo-del-sitio-web-portada-del-libro-embala.jpg");
    background-size: auto auto;
    background-position: center;
}